*
!.gitignore

!/ps-1
/ps-1/*
!ps-1/plot_gaussian.py
!ps-1/gaussian.png
!ps-1/ComputationalPhysicsHW1.pdf

!/ps-2
/ps-2/*
!ps-2/floating_point.py
!ps-2/madelung.py
!ps-2/mandelbrot.py
!ps-2/quadratic.py
!ps-2/test_quadratic.py
!ps-2/mandelbrot.png

!/ps-3
/ps-3/*
!ps-3/derivatives.py
!ps-3/matrix_multiplication.py
!ps-3/matmult-loop.png
!ps-3/matmult-np.png
!ps-3/matmult-loop-log.png
!ps-3/matmult-np-log.png
!ps-3/decay.py
!ps-3/decay.png
!ps-3/decay_transformation.py
!ps-3/decay-transform.png

!/ps-4
/ps-4/*
!ps-4/quadrature.py
!ps-4/heatcapacity.png
!ps-4/heatcapacity50.png
!ps-4/anharmonic.py
!ps-4/period.png
!ps-4/uncertainty.py
!ps-4/wavefunctions.png
!ps-4/wavefunction30.png

!/ps-5
/ps-5/*
!ps-5/gamma.py
!ps-5/quadrature.py
!ps-5/integrand.png
!ps-5/signal.png
!ps-5/signalanalysis.py
!ps-5/flat-signal.png
!ps-5/fourier.png
!ps-5/interpolation.png
!ps-5/linear-trend.png
!ps-5/order-19-poly-time-scaled.png
!ps-5/residual-third-order-poly.png
!ps-5/residual-trigonometric.png
!ps-5/third-order-poly-time-scaled.png
!ps-5/third-order-poly.png
!ps-5/trigonometric.png

!/ps-6
/ps-6/*
!ps-6/pca.py
!ps-6/imgs
!ps-6/res

!/ps-7
/ps-7/*
!ps-7/brent.py
!ps-7/imgs
!ps-7/likelihood.py

!/ps-8
/ps-8/*
!ps-8/fourier.py
!ps-8/lorenz.py
!ps-8/imgs/*